body{
    background-color: #fae3ea;
}

.topo{
    background-color: pink;
    text-align: center;
    border: solid 2px black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.primeira{
    background-color: pink;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}