<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meus convidados</title>
    <link rel="stylesheet" href="../static/convidados.css">
</head>
<body>
    <div class="principal">
        <h1>Ihhhhhhhhhhh</h1>
        <h2> Você foi escolhido, não perca, vai ficar para a história </h2>
    </div>

    <div class
        <p> Confira alguns detalhes sobre o maior evento do ano: </p>
        <p> - Acontecerá nos dias 20, 21 e 22 de fevereiro</p>
        <p> - Localização:
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.1234945602523!2d-46.681500823519606!3d-23.599903578773358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57528d13ffe5%3A0x63ad3a75ec872e8b!2sBisutti%20Traff%C3%B4!5e0!3m2!1spt-BR!2sbr!4v1745420565733!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
        <br>
        <a href="/"> Voltar para a pagina principal </a>
</body>
</html>