<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupidinho do Amorzinho</title>
    <link rel="stylesheet" href="../static/correioelegante.css">
</head>
<body>
   <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">

  <div class="one">
      <h1>Cupidinho do Amorzinho</h1>
  </div>

  <div class="two">
      <br>
      <form action="/registrar" method="post">
          <label>Diz teu nome, cachorro cururu:</label>
          <input type="text" name="pagante">
          <br><br>
          <label>Vai me dar quanto?</label>
          <input type="number" name="valor">
          <br><br>
          <label>Diga aí quem é o azarado, filhote de urubu:</label>
          <input type="text" name="kruxe">
          <br><br>
          <button type="submit">Enviar</button>
          <br><br>
          <img src="/static//corassao.jpg" width="200px" height="200px">
      </form>
  </div>

     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">
     <img src="/static//OIP (3).jpg" width="200px" height="200px">

    <br>
    <a href="/computartotal">Computar valor total</a>

</body>
</html>