<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minha festa</title>
    <link rel="stylesheet" href="../static/minhafesta.css">
</head>
<body>
   <div class="principal">
       <h1>Meu aniversáriooooooooo</h1>
       <p>Hoje é meu dia, mereço uma festa animada com meus amiguinhos. Já vou avisando, só vão estar os de verdade</p>
       <br>

   </div>
   <div class="segunda">
       <form action="/verificar" method="get">
           <label>Digite seu nome, abençoadinho(a):</label>
           <input type="text" name="nomepessoa">
           <button type="submit">Enviar</button>
       </form>
   </div>
</body>
</html>