<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aula Web</title>
    <link rel="stylesheet" href="..//static//quartodia.css">
</head>
<body>
    <div class="topo">
        <h1>Os melhores produtinhos do mundo</h1>
    </div>

    <div class="meio">
        <div class="caixa1">
            <p>Antes de conferir os produtos que a loja oferece, insira algumas informações sobre você</p>
            <label>Digite seu nome, abençoadinho(a):</label>
            <input type="text" name="nomepessoa">
        </div>

        <div class="caixa2">
            <img src="static//imagem.avif" width="400" height="400">
        </div>

        <div class="caixa3">
            <ul>Confira os produtinhos:</ul>
            <li></li>
        </div>
    </div>

</body>
</html>